{% extends "base.html" %}
{% block title %}Вход{% endblock %}
{% block content %}
<section class="panel auth-panel">
  <h1>Вход редактора</h1>
  <form method="post" class="stack auth-form">
    {% csrf_token %}
    {% if form.non_field_errors %}
      {% for error in form.non_field_errors %}<p class="danger">{{ error }}</p>{% endfor %}
    {% endif %}
    <label class="stack form-field auth-field">
      <span>Имя пользователя</span>
      <input name="username" type="text" value="{{ form.username.value|default_if_none:'' }}" autocomplete="username" required autofocus>
    </label>
    <label class="stack form-field auth-field">
      <span>Пароль</span>
      <input name="password" type="password" autocomplete="current-password" required>
    </label>
    {% if next %}<input type="hidden" name="next" value="{{ next }}">{% endif %}
    <button class="primary" type="submit">Войти</button>
  </form>
</section>
{% endblock %}
